<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.hello.hellospring.common.daos.BoardDao">
	
	<insert id="insertBoard" parameterType="com.hello.hellospring.common.bean.BoardBean">
		insert into board
			(
				title
				,contents
				, member_no
			)
		values
			(
				#{title}
				,#{contents}
				,#{memberNo}
			)
	</insert>
	
	<!-- 삭제 -->
	<delete id="deleteBoardFromMemberNo" 
		parameterType="com.hello.hellospring.common.bean.BoardBean">
		delete from 
			board
		where 
			member_no = #{memberNo}
	</delete>
	
	
	<select id="selectBoardList" parameterType="com.hello.hellospring.common.bean.BoardBean">
		select 
			board_no as boardNo
			, title
			, contents
			, count
			, secret_yn as secretYn 
			, member_no as memberNo 
			,(select name from member where member_no = b.member_no) memberName
			, reg_dt as regDt
		from 
			board b 
		where
			1=1 
		<if test="search != null and search != ''">
				or title like CONCAT('%', #{search}, '%') 
				or contents like CONCAT('%', #{search}, '%')
		</if>
		order by board_no desc 
		limit #{page}, 10
	</select>
	
	
</mapper>